.Achievements {
  background: var(--mid-primary);
  width: calc(var(--content-width) - 2 * var(--content-gap));
  height: calc(var(--content-width) - 2 * var(--content-gap));
  border: var(--content-gap) solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

#AchievementNotification {
  position: absolute;
  top: 0;
  padding: var(--content-gap) 0 var(--content-gap) 0;
  background-color: goldenrod;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

#AchievementNotification.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  transition-delay: 1s;
}
#AchievementNotification.show {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: all 1s;
  transition-delay: 1s;
}
