.Achievements {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
  }
  .ProgressBar {
    background-color: var(--light-primary);
    width: 85%;
    height: 1.5rem;
    .progress-percent {
      background-color: var(--dark-primary);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: auto;
      span {
        color: var(--background)
      }
    }
  }
}

#AchievementNotification {
  position: absolute;
  top: 0;
  padding: var(--content-gap) 0 var(--content-gap) 0;
  background-color: goldenrod;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  transition-delay: 1s;
}
