.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vertical-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container {
  font-size: large;
  width: 570px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

#game-row {
  min-height: 570px;
}

div {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div:focus {
  outline: none !important;
}

h1 {
  font-weight: bold;
  font-size: 52px;
  margin: 15px 0 12px 0;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

p a {
  color: #776e65;
}

p {
  line-height: 1.5;
}

.flat-button {
  border: 0;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.flat-button:active {
  transform: scale(0.95);
  transition: 0.08s;
}

.score-container {
  position: relative;
  background: #bbada0;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding: 8px;
}

.score-container p {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.score-container h3 {
  width: 100%;
  top: 8px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.score-container * {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .social {
    font-size: small;
  }
}
.Settings {
  font-size: medium;
  label, input {
    cursor: pointer;
  }
}
@font-face {
  font-family: "Clear Sans";
  src: url('./ClearSans-Regular.ttf');
}

.social-share {
  display: flex;
  align-items: center;
  img {
    height: 25px;
  }
}

@media screen and (max-height: 910px) and (min-width: 1200px) and (orientation: landscape) {
  .main-container {
    min-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    padding: 15px;
  }
  .vertical-container {
    justify-content: space-around;
  }
  .first {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .second {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .third {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #game-row {
    justify-content: center;
  }
}