@import '../index.css';

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100dvh;
  .main-container {
    font-size: 1rem;
    width: var(--content-width);
    height: 100%;
    max-height: 67.5rem;
    gap: var(--content-gap);
    padding: var(--content-gap);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .first, .third {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
    justify-content: space-around;
  }

  #game-row {
    min-height: calc(var(--content-width) - var(--content-gap) * 2);
  }

  div {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  div:focus {
    outline: none !important;
  }

  h1 {
    font-weight: bold;
    font-size: 3rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
  }

  .Credits a {
    color: var(--dark-primary);
  }

  .goal {
    font-size: 1.35rem;
  }

  .instructions {
    line-height: 1.3;
    font-size: 1.15rem
  }

  .flat-button {
    border: 0;
    background: var(--primary);
    padding: 0 0.625rem;
    text-decoration: none;
    color: var(--background);
    height: 2.5rem;
    line-height: 2.5rem;
    cursor: pointer;
    text-align: center;
    user-select: none;
  }

  .locked {
    background-color: var(--light-primary);
    cursor: not-allowed;
  }

  .clickable:active {
    transform: scale(0.95);
  }

  .score-container {
    position: relative;
    background: var(--light-primary);
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    &:not(.achievements) {
      min-width: 4.8rem;
      font-family: monospace;
    }
  }

  .score-container p {
    font-size: 1.5rem;
    color: var(--background);
    font-weight: bold;
    min-height: 2rem;
  }

  .score-container.achievements {
    cursor: pointer;
    background-color: var(--primary);
  }

  .score-container h3 {
    width: 100%;
    top: 0.25rem;
    left: 0;
    font-size: 0.8rem;
    line-height: var(--content-gap);
    text-align: center;
    color: var(--background);
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &.social {
      font-size: 0.8rem;
    }
  }

  .Settings {
    display: flex;
    align-items: flex-start;
    label, input {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    input {
      margin: 0.25rem;
    }
  }

  .social-share {
    display: flex;
    align-items: center;
    img {
      height: 1.5rem;
    }
  }

  .primary-content-container {
    background: var(--mid-primary);
    width: calc(var(--content-width) - 2 * var(--content-gap));
    height: calc(var(--content-width) - 2 * var(--content-gap));
    border: var(--content-gap) solid var(--dark-background);
    display: flex;
  }
}

@media screen and (max-height: 1070px) and (orientation: landscape) {
  .App {
    height: 100dvh;
    width: 100dvw;
    .main-container {
      min-width: 75rem;
      max-height: var(--content-width);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--content-gap);
    }
    .vertical-container {
      justify-content: space-around;
    }
    .first {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .second {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .third {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    #game-row {
      justify-content: center;
    }
  }
}
