.App {
  text-align: center;
}

.main-container {
  font-size: large;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

h1 {
  font-weight: bold;
  font-size: 52px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

p a {
  color: #776e65;
}

p {
  line-height: 1.65;
}

.flat-button {
  border: 0;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.score-container {
  position: relative;
  background: #bbada0;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding: 10px;
}

.score-container p {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.score-container h3 {
  width: 100%;
  top: 10px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.score-container * {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@font-face {
  font-family: "Clear Sans";
  src: url('./ClearSans-Regular.ttf');
}

/* @media (max-width: 600px) {
  .main-container {
    font-size: medium;
    width: 600px;
  }
  h1 {
    font-size: 32px;
  }
  .score-container p {
    font-size: 18px;
  }
  .row.social {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .row input[class='flat-button'] {
    margin-top: 10px;
  }
} */

.level-navigation-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: #8f7a66;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: white;
  user-select: none;
  margin-bottom: 40px;
}

.level-navigation-button.current-level {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
}

.locked {
  background-color: #bbada0;
  cursor: not-allowed;
}
