.Game {
  background: black;
  border-radius: 6px;
  padding-left: 15px;
  padding-top: 15px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}
.victory-modal {
  position: absolute;
  background: rgba(238, 228, 218, 0.73);
  width: 483px;
  height: 483px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.victory-modal h1 {
  font-size: 48px;
}

.victory-share {
  width: 60%;
}

@media (max-width: 460px) {
  .Game {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
  }
  .victory-modal {
    width: 285px;
    height: 285px;
  }
  .victory-modal h1 {
    font-size: 24px;
  }
  .victory-share {
    width: 80%;
  }
}
