.Game {
  background: black;
  border-radius: 6px;
  padding-left: 15px;
  padding-top: 15px;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; 
}
.victory-modal {
  position: absolute;
  background: rgba(238, 228, 218, 0.73);
  width: 483px;
  height: 483px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.victory-modal h1 {
  font-size: 48px;
}

.victory-share {
  width: 60%;
}

@media (max-width: 500px) {
  .Game {
    width: 400px;
  }
  .victory-modal {
    width: 383px;
    height: 383px;
  }
}
