.LevelNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  height: 2rem;
  .hide-in-nav {
    display:none;
  }
  strong {
    text-decoration: underline;
    cursor:pointer;
  }
}

.level-navigation-button {
  transition: all 0.2s;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--background);
  user-select: none;
  &:active {
    transform: scale(0.95);
  }
  &.level-navigation-button.current-level {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 2rem;
    outline: 0.25rem solid var(--dark-primary);
  }
}
