.LevelNavMenu {
  background: var(--mid-primary);
  width: calc(var(--content-width) - 2 * var(--content-gap));
  height: calc(var(--content-width) - 2 * var(--content-gap));
  border: var(--content-gap) solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  .level-navigation-button {
    margin: var(--content-gap);
  }
  .current-level {
    margin: var(--content-gap);
  }
  .row {
    margin-left: var(--content-gap);
    margin-right: var(--content-gap);
  }
  .nav-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 25rem;
    align-content: flex-start;
    align-items: center;
  }
  .hide-in-menu {
    display: none;
  }
  .flat-button {
    align-self: center;
  }
}
