.LevelNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  .hide-in-nav {
    display:none;
  }
  strong {
    text-decoration: underline;
    cursor:pointer;
  }
}

.level-navigation-button {
  cursor: pointer;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: var(--primary);
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: var(--background);
  user-select: none;
  margin-left: 10px;
  &:active {
    transform: scale(0.95);
  }
  &.level-navigation-button.current-level {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    outline: 2px solid var(--dark-primary);
  }
}
