.Tile {
  cursor: pointer;
  border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.08s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 500%;
  &:focus {
    outline: none !important;
  }
  span {
    filter: brightness(75%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.02);
  }

  70% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(1.02);
  }
}
