.Tile {
  cursor: pointer;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 151px;
  height: 151px;
}

@media (max-width: 460px) {
  .Tile {
    width: 95px;
    height: 95px;
  }
}
