.Tutorial {
  background: #cabfb4;
  width: 510px;
  height: 510px;
  border: 15px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 15px;
}
  
.Tutorial .flat-button {
  margin-right: 10px;
  width: 146px;
}

.Lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}