.Tutorial {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--content-gap);
  position: absolute;

  .lesson-text {
    font-size: 1.4rem;
    padding: 0 1rem 0 1rem;
  }

  .row {
    justify-content: space-around;
    width: 100%;
  }

  img {
    width: 60%;
  }
  
  .flat-button {
    min-width: 8rem;
  }
}
