.VictoryModal {
  background: #cabfb4;
  width: 585px;
  height: 585px;
  border: 15px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.VictoryModal h1 {
  font-size: 48px;
}
  
.victory-share {
  width: 60%;
}
  
.VictoryModal .flat-button {
  margin-right: 10px;
}
/* 
@media (max-width: 600px) {
  .VictoryModal {
    width: 285px;
    height: 285px;
  }
  .VictoryModal h1 {
    font-size: 24px;
  }
  .victory-share {
    width: 80%;
  }
} */
