:root {
  --dark-primary: #776e65;
  --primary: #8f7a66;
  --light-primary: #bbada0;
  --mid-primary: #cabfb4;
  --background: #faf8ef;
  --content-width: 37rem;
  --content-gap: 1rem;
  font-size: 16px;
}

@media screen and (max-width: 420px) {
  :root {
    font-size: 11px;
  }
}

@font-face {
  font-family: 'Clear Sans';
  src: url('./styles/ClearSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

html {
  overscroll-behavior: none;
  height: 100%;
}

body {
  font-family: 'Clear Sans', Arial, sans-serif;
  background: var(--background);
  color: var(--dark-primary);
  overscroll-behavior: none;
}
